<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="/editor.js"></script>
  <script src="/cookies.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto|Lato:regular,bold" rel="stylesheet">
</head>
<body>
  <div class='topnav'>
    <ul id='nav'>
      <li class='main button' id="home">
        Home
      </li>
      <li class='main button' id="experiments">
        Experiments
      </li>
      <li class='main button' id="images">
        Images
      </li>
      <li class='button' id="save">
        Save
      </li>
      <li class='button' id="play">
        Play
      </li>
      <li>
      Description: 
      </li>
      <li id='desc-down' class='pointer button'>
      <-
      </li>
      <li id='desc-num'>
      0
      </li>
      <li id='desc-up' class='pointer button'>
      ->
      </li>
      <li>
      Levels: 
      </li>
      <li id='level-down' class='pointer button'>
      <-
      </li>
      <li id='level-num'>
      0
      </li>
      <li id='level-up' class='pointer button'>
      ->
      </li>
    </ul>
  </div>
  <div class='container'>
    <div class='side-bar FlexItem'>
      <ul id='game-bar'>
        <% for(var i=0; i < games.length; i++) {%>
         <li class="game" id='<%= games[i] %>'><%= games[i] %></li>
        <% } %>
        <li id='new'>+</li>
      </ul>
    </div>

    <div class="row">
      <textarea id="game_area" class='textbox' rows="4" cols="50">
      </textarea>
    </div>

    <div class="row">
      <textarea id="level_area" class='textbox' rows="4" cols="50">
      </textarea>
    </div>

    <div class='side-bar FlexItem'>
      <ul id='desc-bar'>
      </ul>
    </div>

  </div>

  <div id="create_modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <div id="modal-content" class="Flex-Container">
        <input id="name-input" type='text' name='name_text' placeholder='name'></input>
        <button id="create">Create</button>
        <button id="cancel">Cancel</button>
      </div> 
      
    </div>

  </div>

</body>
</html>
