<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="/client/experiment.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato:thin" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Asap:700|Lato" rel="stylesheet">
</head>
<body>

<div class="Flex-Container">

<div class="Flex-Container" id="info-box">
  <h1>VGDL</h1>
  <p style="text-align: center;">This is the home page for the online VGDL (video game decription language).
  You will be given a series of games to play. Do your best!
  Click the button below to begin.</p>
  <button id="begin">Begin</button>
</div>

</div>

</body>
</html>
