<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="/client/experiment.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato:thin" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Asap:700|Lato" rel="stylesheet">
</head>
<script>
  var load_experiment = function (data) {
    if (data.exp_id) {
      window.location.href = '/experiment/'+data.exp_id;
      document.cookie = `val_id=${data.val_id}`;
    } else {
      window.location.href = '/admin';
    }
  }
  $.ajax({
    type: "POST",
    url: "/experiment",
    success: load_experiment,
  });

</script>
<body>
<p>Redirecting you to the experiment</p>

</body>
</html>
