<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="/client/login.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Asap:700|Lato" rel="stylesheet">
</head>
<body>

<div class="Flex-Container">

<div class="Flex-Container" style="flex-direction: column;" id="info-box">
  <h1>login</h1>
	<form action="/admin/login" method="post">
		<input type="password" name="password">
	</form> 
</div>

</div>

</body>
</html>
