<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="/midpoint.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato:thin" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Asap:700|Lato" rel="stylesheet">

</head>
<body>

<div class="Flex-Container">

<div class="Flex-Container" id="info-box">
<!--   <h1>Time to play another game!</h1>
 -->  <p>
    Now we'll give you a new game. While the objects might look similar to the ones from the last game, they probably aren't -- we pick new colors for each new game. And the rules are different, too. So you'll have to figure everything out from scratch.
  </p>
  <h3><%= text %></h3>
  <button id='continue'>Continue</button>
</div>

</div>

</body>
</html>
