<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="/midpoint.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato:thin" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Asap:700|Lato" rel="stylesheet">

</head>
<body>

<div class="Flex-Container">

<div class="Flex-Container" id="info-box">
  <h1>This is a midpoint!</h1>
  <p style="text-align: center;">
    You have finished that set of games and will now be moved on to the next set of games.
  </p>
  <button id='continue'>Continue</button>
</div>

</div>

</body>
</html>
