<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="/client/experiment.js"></script>
  <script src="/midpoint.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato:thin" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Asap:700|Lato" rel="stylesheet">
</head>
<body>

<div class="Flex-Container">

<div class="Flex-Container" id="info-box">
  <h1>Instructions</h1>
  <p style="text-align: center;">
    You will now play a series of simple video games. In each game, you can move around by pressing the arrow keys. You will play ten different levels of each game. When the rounds are over, you'll be notified that the game has ended and you'll receive instructions for the next game.
    All of these games have pretty simple rules, which you get to figure out. They all end when you get all the items of a certain type. Try to win as many rounds as you can!
  </p>
  <button id='continue'>Continue</button>
</div>

</div>

</body>
</html>
