<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="/client/experiment.js"></script>
  <script src="/midpoint.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato:thin" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Asap:700|Lato" rel="stylesheet">
</head>
<body>

<div class="Flex-Container">

<div class="Flex-Container" id="info-box">
  <h1>Instructions</h1>

  <p>You will now play a series of simple video games.</p>

  <p>In each game, you can move around by pressing the arrow keys. Beyond that, it's up to you to figure out how the games work.</p> 

  <p>You will play a few different levels of each game. To move on to the next level, you'll have to win the previous one. If you die, you will have to replay that level. When all the levels are over, you'll be notified that the game has ended and you'll receive instructions for the next game.</p>

  <p>If you think you made a mistake that prevents you from winning a level and you want to restart it, you can press the 'Retry' button that appears 30 seconds after each level has begun. This will let you restart that level, but you still have to beat the level before getting to move on to the next one. </p>

  <p>Some of the games are pretty challenging. If you're really having trouble winning a level, you can press the 'Forfeit' button that eventually shows up, but then you won't get credit for having won that level. </p>
  
  <p>For each game, we pick random colors for the objects -- those colors stay the same for every level of that game.</p>

  <p>We will pay you a bonus as a function of how many levels you end up being able to win, so try to win as many levels and games as you can! </p>
  
  <p>Click the button below to start the first game</p>
  <button id='continue'>Begin</button>
</div>

</div>

</body>
</html>
