body {
    font-family: 'Lato';
    font-size: 12pt;
}

h1 {
    font-size: 30pt;
}

.Flex-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p.centered {
    text-align: center;
}

.footer {

    right: 0;
    bottom: 0;
    left: 0;
    padding : 1rem;
    text-align: center;
}

#info-box {
	border: 5px solid #ccc;
    border-radius: 15px;
	padding: 20px;
	margin-top: 100px;

	max-width:400px; 
}

#gjs-canvas {
    border: 3px solid #ccc;
    margin: 20px;
}

#gjs-loader {
    height: 100%;
    padding: 10% 0% 0% 30%;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 200px;
}
