body {
    font-family: 'Lato';
    font-size: 12pt;
}

h1 {
    font-size: 30pt;
}

input {
    margin: 20px;
}

.Flex-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p.centered {
    text-align: center;
}

.footer {

    right: 0;
    bottom: 0;
    left: 0;
    padding : 1rem;
    text-align: center;
}

#info-box {
	border: 5px solid #ccc;
    border-radius: 15px;
	padding: 20px;
	margin-top: 100px;

	max-width:400px; 
}


#exp-box {
    border: 5px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    margin-top: 100px;

/*    max-width:400px; 
*/}

#gjs-canvas {
    border: 3px solid #ccc;
    margin: 20px;
}

#gjs-loader {
    height: 100%;
    padding: 10% 0% 0% 30%;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 200px;
}

/*text editor*/
.topnav {
    background-color: #aaa;
    overflow: hidden;
}
.side-bar {
    flex-grow: 1;
    overflow-y: scroll;
    overflow-wrap: break-word;
    background-color: #eee; 
}
.textbox {
    /*float: right;*/
    /*position: fixed;*/
    font-family: Consolas, monospace;
    height: 100%;
    width: 100%;
    resize: none;
    word-wrap: normal;
    overflow-y: scroll;
}
.container, html, body {
    height: 98%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
}

.row {
    flex-grow: 4;
    height: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

.topnav li {
    display: inline;
    padding-left: 40px;
}

.topnav li:hover {
    color: black;
    cursor: pointer;
}

.topnav li.active {
    color: white;
}

.side-bar li {
    /*font-size: 18px;*/
    padding: 0px 0px 10px 10px;
}

.side-bar li:hover {
    background-color: #ddd;
    color: black;
    cursor: pointer;
}


.side-bar li:active {
    background-color: #888;
    color: white;
}

.side-bar li.active {
    background-color: #aaa;
}

/*Experiment settings styles*/


.exp-container {
    display: flex;
    flex-direction: row;

}

.exp-item li{
    display: inline;
    padding: 1px 5px 1px 5px;
    border-radius: 5px; 
    /*border-style: solid; */
}

.exp-item li.item{
    display: inline;
    padding: 1px 5px 1px 5px;
    border-radius: 5px; 
    /*border-style: solid; */
    cursor: pointer;  
}


.exp-item li.active {
    background-color: #aaa;
}

.exp-item input[type='number'] {
    height: 10px;
    width: 30px;
}

.exp-item input[type='checkbox'] {
    cursor: unset;

}
